<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Harmonic.Subtitles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SubtitlesChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Harmonic.Subtitles.Properties.Settings>
            <setting name="FoldersListFile" serializeAs="String">
                <value>DefaultFolders.xml</value>
            </setting>
            <setting name="ShowWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AppFirst" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value>.\Logs</value>
            </setting>
            <setting name="SubtitlesFile" serializeAs="String">
                <value>tmp.stl</value>
            </setting>
            <setting name="Suffix" serializeAs="String">
                <value>_en,_ru</value>
            </setting>
            <setting name="ExtSource" serializeAs="String">
                <value>mxf,mov</value>
            </setting>
            <setting name="ExtSubtitles" serializeAs="String">
                <value>stl</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </Harmonic.Subtitles.Properties.Settings>
        <SubtitlesChecker.Properties.Settings>
            <setting name="FoldersListFile" serializeAs="String">
                <value />
            </setting>
        </SubtitlesChecker.Properties.Settings>
    </userSettings>
</configuration>